<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentKitchen</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

<div class="index">
    <h1 class="testoprincipale">Benvenuto in StudentKitchen!</h1>
    <h2 class="testosecondario">Registrati o effettua il login</h2>

    <a href="/registrazione"><button>Registrati</button></a>
    <a href="/login"><button>Accedi</button></a>
</div>

</body>
</html>