<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accesso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<h1 id="testoprincipale">Accedi al tuo account</h1>

<div id="loginregisterbox">
    <form id="loginform">
        <label for="log_useremail">Inserisci la tua email:</label></br>
        <input id="log_useremail" name="log_useremail" type="email" placeholder="nome@mail.com" required/><br/>
        <label for="log_userpassword">Inserisci la tua password:</label></br>
        <input id="log_userpassword" name="log_userpassword" type="password" placeholder="********" required/><br/>
        <input type="submit" value="Accedi">
    </form>
</div>

</body>
</html>