<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<h1 id="testoprincipale">Benvenuto!</br>Registra il tuo account!</h1>

<div id="loginregisterbox">
    <form id="registerform">
        <label for="reg_username">Inserisci il tuo nome:</label></br>
        <input id="reg_username" name="reg_username" type="text" placeholder="Mario" required/><br/>
        <label for="reg_usersurname">Inserisci il tuo cognome:</label></br>
        <input id="reg_usersurname" name="reg_usersurname" type="text" placeholder="Rossi" required/><br/>
        <label for="reg_useremail">Inserisci la tua email:</label></br>
        <input id="reg_useremail" name="reg_useremail" type="email" placeholder="nome@mail.com" required/><br/>
        <label for="reg_userpassword">Crea una password:</label></br>
        <input id="reg_userpassword" name="reg_userpassword" type="password" placeholder="********" required/><br/>
        <input type="submit" value="Registrati">
    </form>
</div>

</body>
</html>