<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risultato Ricerca</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

<h1 class="testoprincipale">Ricette trovate</h1>
<h2 class="testosecondario">Ecco le ricette che puoi preparare con i tuoi ingredienti!</h2>

<div id="lista-ricette"></div>
<a href="/home"><button>Indietro</button></a>

<script src="/static/script.js"></script>

<script>
    mostraRisultati();
</script>

</body>
</html>
